# Cấu hình cơ bản cho Jekyll / GitHub Pages
title: "Nguyễn Hoàng Gia Phúc"
description: "Hi — My name is Nguyen Hoang Gia Phuc I am a first-year student of the University of Information and Technology.
My major is Computer Science. This github is my personal page that I share my experience and my learend knowledge at UIT."
url: "https://giaphuc10th.github.io"   # Không có trailing slash
baseurl: ""                             # Với user-pages (owner.github.io) để trống
theme: minima                           # hoặc jekyll-theme-minimal, etc.
plugins:
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
kramdown:
  input: GFM

# Tuỳ chỉnh permalink, include/exclude nếu cần
permalink: /:title/
exclude: ["node_modules", "vendor"]
